@font-face {
  font-family: "NanumSquareNeo-Variable";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NanumSquareNeo-Variable.ttf") format("truetype");
}

html {
  font-size: 100%;
  font-family: "NanumSquareNeo-Variable", NanumSquareNeo-Variable, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}